lab01/schema.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:element name="knowledgeDatabase" type="knowledgeDatabase">
        <xsd:key name="userKeys">
            <xsd:selector xpath="users/user"/>
            <xsd:field xpath="@name"/>
        </xsd:key>

        <xsd:keyref name="gamerRefs" refer="userKeys">
            <xsd:selector xpath="games/game/gamer"/>
            <xsd:field xpath="@ref"/>
        </xsd:keyref>
    </xsd:element>

    <xsd:complexType name="knowledgeDatabase">
        <xsd:sequence>
            <xsd:element name="experts" type="experts" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="expertise_areas" type="expertise_areas" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="category">
        <xsd:attribute name="name" type="xsd:ID" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="gamer">
        <xsd:attribute name="ref" type="xsd:IDREF"/>
    </xsd:complexType>

    <xsd:complexType name="player">
        <xsd:sequence>
            <xsd:element name="answer" type="answer" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="ref" type="xsd:IDREF" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="experts">
        <xsd:sequence>
            <xsd:element name="expert" type="expert" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="expertise_areas">
        <xsd:sequence>
            <xsd:element name="expert" type="expertise_area" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="expert">
        <xsd:sequence>
            <xsd:element name="email" type="xsd:string"/>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="address" type="xsd:string"/>
            <xsd:element name="description" type="xsd:string"/>
            <xsd:element name="recommendation" type="recommendation" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="expert_id" type="xsd:ID" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="recommendation">
        <xsd:sequence>
            <xsd:element name="recommender" type="expert" maxOccurs="unbounded"/>
            <xsd:element name="expertRecommended" type="expert" maxOccurs="1"/>
            <xsd:element name="text" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="recommendation_id" type="xsd:ID" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="expertise_area">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="topic" type="topic" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="expertise_area_id" type="xsd:ID" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="topic">
        <xsd:sequence>
            <xsd:element name="originator" type="expert" maxOccurs="1"/>
            <xsd:element name="heading" type="xsd:string"/>
            <xsd:element name="text" type="xsd:string"/>
            <xsd:element name="subTopic" type="topic" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
